@media (max-width: 1460px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header {
    min-height: 147px;
  }

  .header__container {
    flex-wrap: wrap;
    row-gap: 23px;
    padding-top: 30px;
  }

  .logo__black {
    max-height: 42px;
  }

  .header__nav {
    max-width: 100%;
    margin-right: 0;
    order: 1;
  }

  .hero {
    padding-top: 102px;
    padding-bottom: 101px;
  }

  .hero__contant {
    max-width: 660px;
  }

  .hero__descr {
    margin-bottom: 133px;
  }

  .gallery__title {
    margin-bottom: 20px;
  }

  .gallery__contant {
    flex-direction: column;
    row-gap: 27px;
  }

  .gallery__sort {
    align-self: flex-start;
  }

  .gallery__pictures {
    gap: 50px;
  }

  .artist {
    flex-direction: column;
  }

  .artist__bio {
    padding: 33px 0 0 0;
  }

  .artist__name {
    margin-bottom: 14px;
  }

  .artist__age {
    margin-bottom: 16px;
  }

  .events__title {
    margin-bottom: 20px;
  }

  .events__list {
    --gap: 27px;
  }

  .event__img {
    width: 100%;
  }

  .event__about {
    padding: 16px 32px 100px 34px;
  }

  .event__place,
  .event__date {
    text-align: right;
    font-weight: 400;
  }

  .event__date {
    margin-bottom: 5px;
  }

  .event__title {
    line-height: 137%;
    margin-bottom: 8px;
  }

  .event__details {
    bottom: 50px;
  }

  .projects__descr {
    margin-bottom: 22px;
  }

  .partners__list {
    gap: 27px;
  }

  .contacts__container {
    padding-top: 44px;
    padding-bottom: 40px;
  }

  .contacts__contant {
    flex-direction: column;
    gap: 0;
  }

  .contacts__addres {
    margin-bottom: 26px;
  }

  .contact__name {
    margin-bottom: 14px;
  }

  .contact__addres {
    font-size: 14px;
  }

  .contacts__form {
    margin-bottom: 39px;
  }

  .form {
    justify-content: space-between;
    max-width: 923px;
    gap: 0;
  }

  .form__btn {
    padding: 13px 39px 12px 42px;
  }

  .footer__container {
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding-top: 6px;
    padding-bottom: 0;
  }

  .social__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 990px) {
  .hero {
    padding-top: 88px;
    padding-bottom: 85px;
  }

  .hero__contant {
    max-width: 620px;
  }

  .about-us {
    padding-top: 84px;
    padding-bottom: 71px;
  }

  .gallery {
    padding-bottom: 77px;
  }

  .gallery__pictures {
    gap: 34px;
  }

  .catalog__descr {
    margin-bottom: 40px;
  }

  .artist__age {
    margin-bottom: 6px;
  }

  .events__title {
    margin-bottom: 21px;
  }

  .events__list {
    flex-direction: column;
    --gap: 30px;
  }

  .events__item {
    width: 100%;
  }

  .event__title {
    margin-bottom: 13px;
  }

  .event__details {
    bottom: 49px;
  }

  .event__about {
    min-height: 328px;
  }

  .projects__descr {
    margin-bottom: 29px;
  }

  .partners__title {
    margin-bottom: 32px;
  }

  .partners__list {
    gap: 34px;
  }

  .partners__item {
    padding: 26px 20px 23px;
  }

  .form {
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 12px;
  }

  .form__input {
    max-width: calc(50% - 10px);
    width: 100%;
    padding: 15px 20px 14px 24px
  }

  .form__btn {
    padding: 13px 28px;
  }

}

@media (max-width: 760px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    min-height: 78px;
  }

  .header__container {
    row-gap: 4px;
    padding-top: 10px;
  }

  .header__search svg {
    width: 18px;
  }

  .header__menu {
    gap: 25px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Для Firefox */
  }

  .header__menu::-webkit-scrollbar {
    display: none; /* Для WebKit браузеров */
  }

  .header__menu-link {
    font-weight: 700;
    font-size: 12px;
  }

  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero__contant {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 87%;
    margin-bottom: 11px;
  }

  .hero__descr {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 39px;
    line-height: 135%;
  }

  .hero__btn {
    font-size: 12px;
    padding: 13px 19px;
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-descr {
    font-size: 14px;
  }

  .about-us {
    padding-top: 53px;
    padding-bottom: 41px;
  }

  .gallery {
    padding-top: 53px;
    padding-bottom: 46px;
  }

  .gallery__contant {
    row-gap: 26px;
  }

  .gallery__pictures {
    flex-direction: column;
    gap: 27px;
  }

  .catalog {
    padding-top: 53px;
    padding-bottom: 38px;
  }

  .catalog__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .catalog__list {
    gap: 29px;
  }

  .artist__picture {
    margin-bottom: -2px;
  }

  .artist__bio {
    padding-top: 22px;
    padding-right: 3px;
  }

  .artist__name {
    line-height: 137%;
    margin-bottom: 8px;
  }

  .artist__age {
    margin-bottom: 15px;
  }

  .events {
    padding-bottom: 38px;
  }

  .events__list {
    gap: 20px;
  }

  .event__about {
    min-height: 483px;
    padding: 18px 17px 100px 22px;
  }

  .event__place, .event__date {
    font-size: 12px;
  }

  .event__date {
    margin-bottom: 12px;
  }

  .event__title {
    margin-bottom: 5px;
  }

  .event__details {
    bottom: 50px;
    left: 28px;
  }

  .projects {
    padding-bottom: 16px;
  }

  .projects__descr {
    font-size: 16px;
    margin-bottom: 26px;
  }

  .partners__title {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .partners__list {
    flex-direction: column;
    gap: 11px;
  }
  .partners__item {
    text-align: center;
    padding: 29px 63px 26px;
  }

  .contacts {
    border-top: unset;
  }

  .contacts__container {
    padding-top: 36px;
    padding-bottom: 47px;
  }

  .contacts__addres {
    margin-bottom: 15px;
  }

  .contact__name {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .contact__form {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .form {
    row-gap: 20px;
  }

  .form__input {
    max-width: 100%;
    padding: 10px 20px 10px 24px;
  }

  .form__btn {
    font-size: 0;
    max-width: 128px;
    white-space: nowrap;
    overflow: hidden;
    padding: 11px 34px;
  }

  .form__btn::after {
    content: "Заказать";
    font-size: 12px;
  }

  .messenger__title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: unset;
    margin-bottom: 12px;
  }

  .messenger__button svg {
    width: 50px;
    height: 50px;
  }

  .footer__container {
    flex-direction: column-reverse;
    min-height: 132px;
    padding-top: 23px;
    padding-bottom: 17px;
  }

  .social__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    max-width: 97px;
  }
}
