html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--black);
}


:root {
  --gap: 50px;

  --white: #ffffff;
  --black: #333333;
  --black-total: #000000;
  --gray: #cacaca;
  --text-gray: #999999;
  --purpure: #9d5cd0;
  --purpure-light: #c283f3;
  --purpure-light-border: #d1a9f0;
  --purpure-shadow: #7943a4;
  --green: #30bf39;
  --blue: #26a5e4;
  --red: #d11616;
}

/* glob */
.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.section-title {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 21px;
}

.section-descr {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  text-align: center;
}

/* header */
.header {
  height: 100px;
  color: var(--white);
  background-color: var(--black-total);
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}

.header__logo {
  padding-top: 2px;
  outline: transparent;
  outline-offset: 10px;
  transition: outline 0.3s ease-in-out;
}

.header__logo:focus-visible {
  outline: 2px solid var(--purpure);
}

.header__logo:hover {
  outline: 2px solid var(--purpure-light);
}

.header__logo:active {
  outline: 2px solid var(--purpure);
}

.header__nav {
  width: 100%;
  max-width: 924px;
  margin-right: 117px;
}

.header__menu {
  justify-content: space-between;
  width: 100%;
}

.header__menu-link {
  font-weight: 600;
  font-size: 18px;
  outline: none;
  transition: background-color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__menu-link:focus-visible {
  background-color: var(--purpure-shadow);
  box-shadow: 0 0 0 2px var(--purpure-shadow);
}

.header__menu-link:hover {
  background-color: unset;
  box-shadow: unset;
  color: var(--purpure-light);
}

.header__menu-link:active {
  color: var(--purpure);
}

.header__search {
  padding-top: 3px;
  outline: none;
  fill: var(--white);
  transition: background-color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.header__search:focus-visible {
  background-color: var(--purpure-shadow);
  box-shadow: 0 0 0 2px var(--purpure-shadow);
}

.header__search:hover {
  background-color: unset;
  box-shadow: unset;
  fill: var(--purpure-light);
}

.header__search:active {
  fill: var(--purpure);
}

/* main */
/* hero */
.hero {
  background-color: var(--black);
  background-image: url('../img/hero_1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  padding-top: 147px;
  padding-bottom: 146px;
}

.hero__contant {
  max-width: 555px;
  font-weight: 700;
  color: var(--white);
}

.hero__title {
  font-size: 72px;
  line-height: 94%;
  margin-bottom: 20px;
}

.hero__descr {
  font-size: 18px;
  line-height: 167%;
  margin-bottom: 92px;
}

.hero__btn {
  font-size: 18px;
  border-radius: 100px;
  padding: 24px 35px 25px;
  background: var(--purpure);
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: box-shadow 0.3s ease-in-out,
  outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn:focus-visible {
  box-shadow: 0 0 0 3px var(--purpure-light-border);
}

.hero__btn:hover {
  outline: 2px solid var(--purpure-light);
}

.hero__btn:active {
  box-shadow: 0 0 0 3px var(--purpure-light-border);
  outline: 2px solid transparent;
  background-color: var(--purpure-shadow);
}

/* about-us */
.about-us__container {
  padding-top: 85px;
  padding-bottom: 70px;
}

/* gallery */
.gallery {
  background-color: var(--black);
  background-image: url('../img/gallery_1920.jpg');
  color: var(--white);
}

.gallery__container {
  padding-top: 85px;
  padding-bottom: 77px;
}

.gallery__title {
  margin-bottom: 24px;
}

.gallery__contant {
  justify-content: space-between;
}

.gallery__sort {
  align-self: flex-end;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding-bottom: 3px;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__box {
  position: absolute;
  margin-top: 11px;
  box-shadow: 0 0 0 1px var(--white);
  width: 11px;
  height: 11px;
  transition: box-shadow 0.1s ease-in-out;
}

.checkbox__input:checked + .checkbox__box {
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 0 1px var(--purpure);
}

.checkbox__info {
  margin-left: 24px;
  transition: color 0.1s ease-in-out;
}

.checkbox__input:focus-visible + .checkbox__box {
  box-shadow: 0 0 0 1px var(--purpure);
}

.checkbox__input:focus-visible ~ .checkbox__info {
  color: var(--purpure);
}

.checkbox__input:hover + .checkbox__box {
  box-shadow: 0 0 0 1px var(--purpure);
  cursor: pointer;
}

.checkbox__input:hover ~ .checkbox__info {
  cursor: pointer;
}

.checkbox__input:active ~ .checkbox__info {
  color: var(--purpure);
}

.gallery__pictures {
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

/* catalog */
.catalog__container {
  padding-top: 85px;
  padding-bottom: 70px;
}

.catalog__descr {
  margin-bottom: 39px;
}

.catalog__list {
  flex-direction: column;
  gap: var(--gap);
}

.artist__bio {
  padding: 122px 10px 10px 50px;
}

.artist__name {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
}

.artist__age {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-gray);
}

.artist__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* events */
.events__container {
  padding-top: 15px;
  padding-bottom: 70px;
}

.events__list {
  gap: var(--gap);
  font-size: 0;
  --offsets: 2;
}

.events__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  flex-direction: column;
}

.event__about {
  position: relative;
  min-height: 400px;
  height: 100%;
  padding: 14px 50px 70px;
  border: 1px solid var(--gray);
  border-top: unset;
}

.event__place,
.event__date {
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: var(--text-gray);
}

.event__place {
  margin-bottom: 2px;
}

.event__date {
  margin-bottom: 15px;
}

.event__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  line-height: 135%;
  color: var(--black);
  margin-bottom: 10px;
}

.event__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--black);
}

.event__details {
  position: absolute;
  bottom: 42px;
  font-weight: 400;
  font-size: 16px;
  color: var(--purpure);
  padding-bottom: 4px;
  border-bottom: 1px solid var(--purpure);
  outline: none;
  transition: background-color 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out, color 0.3s ease-in-out,
  border-bottom 0.3s ease-in-out;
}

.event__details:focus-visible {
  background-color: var(--purpure);
  box-shadow: 0 0 0 7px var(--purpure);
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.event__details:hover {
  background-color: unset;
  box-shadow: unset;
  color: var(--purpure-shadow);
  border-bottom: 1px solid var(--purpure-shadow);
}

.event__details:active {
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

/* projects */
.projects__container {
  padding-top: 15px;
  padding-bottom: 80px;
}

.projects__descr {
  margin-bottom: 32px;
}

.partners__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  color: var(--black);
  margin-bottom: 18px;
}

.partners__list {
  gap: 34px;
}

.partners__item {
  padding: 26px 26px 23px;
  border: 1px solid var(--gray);
}

/* contacts */
.contacts {
  border-top: 1px solid var(--text-gray);
}

.contacts__container {
  padding-top: 46px;
  padding-bottom: 35px;
}

.contacts__title {
  font-size: 0;
}

.contacts__contant {
  gap: 80px;
}

.contact__name {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  margin-bottom: 9px;
}

.contact__addres {
  font-weight: 400;
  font-size: 16px;
}

.form {
  height: 100%;
  width: 100%;
  max-width: 909px;
  padding-top: 5px;
  gap: 20px;
}

.form__input {
  border: 1px solid var(--black);
  border-radius: 100px;
  max-width: 270px;
  width: 100%;
  padding: 13px 20px 12px 24px;
}

.form__btn {
  border: 2px solid var(--purpure);
  font-weight: 700;
  font-size: 18px;
  color: var(--purpure);
  padding: 13px 33px 12px 34px;
}

.messenger {
  margin-top: -7px;
}

.messenger__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.025em;
  margin-bottom: 8px;
}

.messenger__list {
  gap: 20px;
}

/* footer */
.footer {
  background-color: var(--black-total);
}

.footer__container {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 44px;
}

.social {
  gap: 20px;
  margin-top: -3px;
}
